django
asgiref         # via django
certifi
chardet
idna
pyparsing
pytz
requests
six           # via packaging
sqlparse           # via django
urllib3         # via requests
zipp             # via importlib-metadata
django-cors-headers
flake8
django-filter
gunicorn
pillow
psycopg2-binary
django-simple-email-confirmation
djangorestframework
sorl-thumbnail
django-environ
python-dotenv
PyJWT