{% extends "base.html" %}
{% load static %}
{% block title %}Password reset page{% endblock %}
{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
​
{% block content %}
{% load user_filters %}
​
<div class="main__header">
    <h1 class="main__title">Сброс пароля</h1>
</div>
<div class="form-container">
    ​
    <form class="form" method="post">
        {% csrf_token %}
        <p class="form__info-text">
            Пароль успешно изменен!
        </p>
        ​
        <div class="form__group">
            <div class="form__field-group">
            </div>
        </div>
        <div class="form__footer">
        </div>
    </form>
</div>
​
{% endblock content %}