{% extends 'base.html' %}
{% load static %}


{% block page_title %}
{{ page_title }}
{% endblock %}


{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}

<body class="body">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Сброс пароля</h1>
        </div>
        <div class="card-list card-list_column">
            <ul class="shopping-list">
                <li class="shopping-list__item"></li>
                <h1>Forgot your password?</h1>
                <p>Enter your e-mail address to obtain a new password.</p>

                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Send me instructions!">
                </form>
            </ul>
        </div>
    </main>
</body>
{% endblock %}