{% extends "base.html" %}
{% load static %}
{% block title %}Password reset page{% endblock %}
{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
​
{% block content %}
{% load user_filters %}
​
<div class="main__header">
    <h1 class="main__title">Сброс пароля</h1>
</div>
<div class="form-container">
    ​
    <form class="form" method="post">
        {% csrf_token %}
        <p class="form__info-text">
            Введите новый пароль.
        </p>
        ​
        <div class="form__group">
            <label for="id_new_password1" class="form__label">Новый пароль</label>
            <div class="form__field-group">
                <input type="password" name="new_password1" autocomplete="new-password" class="form__input" required
                    id="id_new_password1">


            </div>
        </div>

        <div class="form__group">
            <label for="id_new_password2" class="form__label">Повторите пароль</label>
            <div class="form__field-group">
                <input type="password" name="new_password2" autocomplete="new-password" class="form__input" required
                    id="id_new_password2">


            </div>
        </div>
        <div class="form__footer">
            <button type="submit" class="button button_style_blue">Сбросить пароль</button>
        </div>
    </form>
</div>
​
{% endblock content %}