<div class="card" data-id="{{ recipe.id }}">
    <img src="{% if recipe.image %}{{ recipe.image.url }}{% else %}#{% endif %}" alt="{{ recipe.title }}"
        class="card__image">

    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' pk=recipe.id %}" target="_blank">
            {{recipe.title}}</a>
        <ul class="card__items">
            {% for tag in recipe.tag.all %}
            {% if tag.title == 'Завтрак' %}
            <li class="card__item"><span class="badge badge_style_green">{{ tag.title }}</span></li>
            {% endif %}
            {% if tag.title == 'Обед' %}
            <li class="card__item"><span class="badge badge_style_orange">{{ tag.title }}</span></li>
            {% endif %}
            {% if tag.title == 'Ужин' %}
            <li class="card__item"><span class="badge badge_style_purple">{{ tag.title }}</span></li>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text">
                <span class="icon-time"></span>
                {{ recipe.time_cooking }} мин.
            </p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' username=recipe.user %}"
                    style="color: black"> {% firstof recipe.user.get_full_name recipe.user.username %}
                </a>
            </p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span
                class="icon-plus button__icon"></span>Добавить в покупки</button>
        <div class="single-card" data-id="{{ recipe.id }}" data-author="1">
            {% include 'includes/favorite_button.html' %}
        </div>
    </div>
</div>