{% extends 'base.html' %}
{% load static %}


{% block page_title %}
{{ page_title }}
{% endblock %}


{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock static %}
{% block content %}

<body class="body">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Об авторе</h1>
        </div>
        <div class="card-list card-list_column">
            <ul class="shopping-list">
                <li class="shopping-list__item">Просто начинающий back-end разработчик</li>
            </ul>
        </div>
    </main>
</body>
{% endblock %}