{% extends 'base.html' %}
{% load static %}


{% block page_title %}
{{ page_title }}
{% endblock %}


{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}

{% block content %}
<div class="card-list">
    {% for follow in subscriptions %}
    <div class="card-user" data-author="700">
        <div class="card-user__header">
            LOLOLO
            {{ stuff }}
            <h2 class="card-user__title">{{ follow.author }}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                <li class="card-user__item">
                    {% for recipe in follow.author.recipes.all %}
                    {% if forloop.counter <= 3 %} <div class="recipe">
                        <img src="{{ recipe.image.url }}" alt="какой-то-текст" class="recipe__image">
                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time_cooking }} мин.
                        </p>
        </div>
        </li>
        {% endif %}
        {% endfor %}
        <li class="card-user__item">
            <a href="{% url 'profile' follow.author.username %}" class="card-user__link link">
                {% for user, value in counter_data.items %}
                {% if user == follow.author.username %}
                {{ value }}
                {% endif %}
                {% endfor %}
            </a>
        </li>
        </ul>
    </div>
    {% if user.is_authenticated %}
    {% if follow %}
    <a href="{% url 'unfollow' follow.author.username %}">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">
            Отписаться
        </button>
    </a>
    {% elif author == user %}
    <h3 class="single-card__section-title">Не стоит подписываться на себя</h3>
    {% else %}
    <a href="{% url 'follow' follow.author.username %}">
        <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
            Подписаться на автора
        </button>
    </a>
    {% endif %}
    {% endif %}
</div>
{% endfor %}
</div>
{% if page_obj.has_other_pages %}
{% include 'includes/paginator.html' with items=page_obj paginator=paginator %}
{% endif %}
</main>
{% endblock %}
{% block static_js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
</body>
{% endblock %}

</html>