{% extends 'base.html' %}
{% load static %}


{% block page_title %}
{{ page_title }}
{% endblock %}


{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
<div style="padding: 10px;">
    {% if request.user.is_authenticated %}
    {% if author != request.user %}
    {% if following %}
    <a class="button button_style_light-blue button_size_auto" href="{% url 'unfollow' author %}"
        role="button">Отписаться</a>
    {% elif author != request.user %}
    <a class="button button_style_light-blue button_size_auto" href="{% url 'follow' author %}"
        role="button">Подписаться {{ user }}</a>
    {% else %}
    <a class="button button_style_light-blue button_size_auto" role="button">Подписаться</a>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
<div class="card-list" style="padding: 10px;">
    {% for recipe in page_obj %}
    {% include 'includes/recipe_card.html' with recipe=recipe %}
    {% endfor %}
</div>

{% if page_obj.has_other_pages %}
{% include 'includes/paginator.html' with items=page_obj paginator=paginator %}
{% endif %}
{% endblock %}


{% block static_js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'indexAuth.js' %}"></script>
{% else %}
<script src="{% static 'indexNotAuth.js' %}"></script>
{% endif %}
{% endblock %}