{% extends 'base.html' %}
{% load static %}


{% block page_title %}
{{ page_title }}
{% endblock %}


{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
<div class="main_header">
    <h1 class="main__title">{{ page_title }}</h1>
</div>

<div class="card-list">
    {% for recipe in page_obj %}
    {% include 'recipe_card.html' with recipe=recipe %}
    {% endfor %}
</div>

{% if page_obj.has_other_pages %}
{% include 'paginator.html' with items=page_obj paginator=paginator %}
{% endif %}
{% endblock %}


{% block static_js %}
<script src="./js/config/config.js"></script>
<script src="./js/api/Api.js"></script>
<script src="./js/components/MainCards.js"></script>
<script src="./js/components/Purchases.js"></script>
<script src="./js/components/CardList.js"></script>
<script src="./js/components/Header.js"></script>
<script src="./js/components/Favorites.js"></script>
<script src="indexNotAuth.js"></script>
{% endblock %}